* {
    margin: 0;
    padding: 0;
  }
  header {
    height: 70px;
    background: #f2f2f2;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    list-style-type: none;
  }  
  main {
    font-size: 0;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .image {
    background-image: url('https://i.imgur.com/CeQUbYq.jpg');
    background-size: cover;
    height: 200px;
  }
  main .row {
    display: flex;
  }
  main .row div {
    flex: 1;
    height: 300px;
  }
  .yellow {
    background: yellow;
  }
  .red {
    background: red;
  }
  .green {
    background: green;
  }
  footer {
    height: 50px;
    background: purple;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
  }
  
  @media only screen and (max-width: 900px) { 
    main {
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 500px) { 
    main {
      width: 100%;
    }
  }